@layout Patient.Api.Components.Layout.Doctor.DoctorLayout

@rendermode @(new InteractiveServerRenderMode(false))

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Patient.Domain.Interfaces
@using Patient.Domain.Entities.DTOs
@using Patient.Domain.Entities
@using Patient.Domain.Constants
@using Patient.Domain.Entities.DTOs.Reports
@using Patient.Domain.Repositories
@using Patient.Domain.Entities.DTOs.Recommandation
@using Patient.Domain.Entities.DTOs.Prescription
@using System.ComponentModel.DataAnnotations
@using Blazored.Typeahead
@using MudBlazor
@using MudBlazor.Components
@using Patient.Api.Components.Pages.DoctorPages.Reports.AdditionalComponents







@inject IDoctorApiService _doctorApiService
@inject IBlobStorageService _blobStorageService
@inject IDoctorsRepository _doctorsRepository
@inject UserManager<Patient.Domain.Entities.Actors.Patient> _patientManager
@inject NavigationManager _navigationManager
@inject ProtectedSessionStorage sessionStorage
@inject IMedicineRepository _medicineRepository
@inject IDialogService DialogService



@page "/lekarz/raporty/{ReportId}"


<div class="container px-4  ">
        
    <div class="row pt-5 position-relative">
        <div class="justify-content-start align-content-start">
            <NavLink href="/lekarz/raporty">
                <btn type="button" class="btn back-icon bi-arrow-left"></btn>
            </NavLink>
        </div>
        @if (readingReport)
        {
            <MudProgressCircular Color="Color.Success" Indeterminate="true" />
        }
        else
        {
            <div class="col">
            </div>
            <div class="col-8">
                <div class="row d-flex align-items-center">
                    <div class="col d-flex ms-3 me-3">
                        <div class="me-3 col">
                            <btn type="button" class="bi-patient-icon" @onclick="()=>HandleShowPatient()"></btn>
                        </div>
                        <div class="me-3 col">
                            <strong>@reportToShow.PatientName</strong>                        
                            <strong>@reportToShow.PatientSurname</strong>
                        </div>
                        <div class="me-3 col">
                            <strong>@reportToShow.PatientPesel</strong>
                        </div>
                        <div class="me-3 col">
                            <strong>Leczone dolegliwości</strong>
                        </div>
                    </div>
                </div>
                <div class="report text-center">

                    <div class="row  text-center border-1 border-bottom border-dark text-center">
                        <h2>Raport</h2>
                        <p>Data: @reportToShow.DateOfCreating</p>
                    </div>
                    <div class="row text-center min-height-10 border-1 border-bottom border-dark">
                        <h4>Opis:</h4>
                        <p>@reportToShow.Description</p>
                    </div>
                    <div class="row  text-center min-height-7">
                        <div class="col border-right">
                            <h4>Pliki:</h4>
                            @if (reportToShow.FileNames.Count() > 0)
                            {
                                for (int i = 0; i < reportToShow.FileNames.Count(); i++)
                                {
                                    <btn type="button" class="btn file-block mx-2" @onclick="() => HandleShowFile(i-1)">
                                        <div class="bi-x-circle"></div>
                                        <div class="bi-file-icon"></div>
                                        @* <p>@reportToShow.FileNames.ElementAt(i)</p> *@
                                    </btn>
                                }
                            }
                        </div>
                        <div class="col">
                            <div class="row d-flex-column border-1 border-bottom border-dark">
                                <p>Lekarze sprawdzajacy:</p>
                                @foreach (var doctor in doctors)
                                {
                                    <p>@doctor.Name @doctor.Surname</p>
                                }

                            </div>
                            <div class="row">
                                <div class="col">
                                    @reportToShow.IsChecked
                                </div>
                                <div class="col">
                                    Rekomendacja
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center align-items-center mt-3">
                        <btn type="button" class="btn btn-primary me-3 " @onclick="HandleShowRecommandationModal">Dodaj rekomendacje</btn>
                        <btn type="button" class="btn btn-primary me-3">Poproś o konsultacje</btn>
                    </div>
                </div>
                
            </div>
            <div class="col">
            </div>

            

        }

        @if (previewFileModalData.ShowPreviewFileModal)
        {
            <CascadingValue Value="previewFileModalData">
                <PreviewFileModal OnClose="CloseModalFilePreview" />
            </CascadingValue>
        }
        @if (showAddRecommandationModal)
        {
            <CascadingValue Value="addRecommandationModalData">
                <AddRecommandationModal OnClose="CloseModalAddRecommandation" />
            </CascadingValue>
        }

    </div>
</div>


@code {

    [Parameter]
    public string ReportId { get; set; }

    private ReportForDoctorToShowDto reportToShow = new();

    private bool fileGet;
    private bool readingReport;

    private bool showAddRecommandationModal;
    private bool loading;


    private List<Patient.Domain.Entities.Actors.Doctor> doctors = new();

    //PreviewFileModal

    private PreviewFileModalData previewFileModalData = new();

    ///

    private Patient.Domain.Entities.Actors.Patient currentPatient;

    //RecommendationModal
    AddRecommandationModalData addRecommandationModalData = new();



    protected async override Task OnInitializedAsync()
    {
        readingReport = true;

        var response = await _doctorApiService.SendRequestGetReport(ReportId);
        if (response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            reportToShow = await response.Content.ReadFromJsonAsync<ReportForDoctorToShowDto>();
            if (reportToShow.FileNames.Any())
            {
                foreach (var filename in reportToShow.FileNames)
                {
                    var url = await _blobStorageService.GetBlobSasUrl(filename, BlobContainerNames.ReportsFiles);
                    var fileBase64 = await LoadImageBase64(url);
                    reportToShow.FilesBase64.Add(fileBase64);
                }
            }
            foreach (var doctorId in reportToShow.DoctorsId)
            {
                var doctor = await _doctorsRepository.GetDoctorByIdAsync(doctorId);
                doctors.Add(doctor);
            }
            currentPatient = await _patientManager.FindByIdAsync(reportToShow.PatientId);
        }
        StateHasChanged();
        readingReport = false;

    }

    private void HandleShowFile(int positionOnTheList)
    {
        previewFileModalData.CurrentFileBase64 = reportToShow.FilesBase64.ElementAt(positionOnTheList);
        previewFileModalData.CurrentFileName = reportToShow.FileNames.ElementAt(positionOnTheList);
        previewFileModalData.ShowPreviewFileModal = true;      

        StateHasChanged();
    }

    private async void HandleShowPatient()
    {
        _navigationManager.NavigateTo($"/lekarz/pacjenci?PatientId={currentPatient.Id}&ReportId={reportToShow.Id}");

    }

    private void HandleShowRecommandationModal()
    {
        addRecommandationModalData.CurrentPatient = currentPatient;
        addRecommandationModalData.ReportId = ReportId;
        showAddRecommandationModal = true;

        StateHasChanged();
    }

    private void CloseModalAddRecommandation()
    {
        showAddRecommandationModal = false;
    }

    private async Task<string> LoadImageBase64(string url)
    {
        using (var _httpClient = new HttpClient())
        {
            var response = await _httpClient.GetAsync(url);
            if (response.IsSuccessStatusCode)
            {
                var imageBytes = await response.Content.ReadAsByteArrayAsync();
                return $"data:image/jpeg;base64,{Convert.ToBase64String(imageBytes)}";

            };
            return null;
        }

    }

    private void CloseModalFilePreview()
    {
        previewFileModalData.ShowPreviewFileModal = false;
        StateHasChanged();
    }

    public sealed class MedicineToPrescription()
    {
        public int Id;
        public Medicine ChosenMedicine { get; set; } = new();
        public string MedicineDosingDescription { get; set; } = "";
    }

    //Modal klasy pomocnicze
    public class PreviewFileModalData()
    {
        public string CurrentFileBase64 { get; set; } = "";
        public string CurrentFileName { get; set; } = "";
        public bool ShowPreviewFileModal { get; set; }
    }
    public class AddRecommandationModalData()
    {      
        public Patient.Domain.Entities.Actors.Patient CurrentPatient { get; set; }
        public string ReportId { get; set; }
                
    }
}
